body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 1;
    background-color: beige;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: pink;
    border: 1px solid #ccc;
    border-radius: 5px;
}